apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.deployment.name | default .Release.Name }}
  namespace: {{ .Values.deployment.namespace }}
  labels:
    app: {{ .Values.deployment.name | default .Release.Name }}
    {{- if .Values.deployment.labels }}
    {{- toYaml .Values.deployment.labels | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.deployment.replicas }}
  strategy:
    {{- toYaml .Values.deployment.strategy | nindent 4 }}
  selector:
    matchLabels:
      app: {{ .Values.deployment.name | default .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Values.deployment.name | default .Release.Name }}
    spec:
      {{- if .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- range .Values.image.pullSecrets }}
        - name: {{ .name }}
        {{- end }}
      {{- end }}
      containers:
        - name: {{ .Values.deployment.name | default .Release.Name }}
          image: {{ printf "%s:%s" .Values.image.repository .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.container.command }}
          command:
            {{- toYaml .Values.container.command | nindent 12 }}
          {{- end }}
          {{- if .Values.container.args }}
          args:
            {{- toYaml .Values.container.args | nindent 12 }}
          {{- end }}
          {{- if .Values.container.ports }}
          ports:
            {{- range .Values.container.ports }}
            - name: {{ .name }}
              containerPort: {{ .containerPort }}
              protocol: {{ .protocol | default "TCP" }}
            {{- end }}
          {{- end }}
          {{- if .Values.container.env }}
          env:
            {{- range .Values.container.env }}
            - name: {{ .name }}
              {{- if .value }}
              value: {{ .value | quote }}
              {{- else if .valueFrom }}
              valueFrom:
                {{- toYaml .valueFrom | nindent 16 }}
              {{- end }}
            {{- end }}
          {{- end }}
          {{- if .Values.container.envFrom }}
          envFrom:
            {{- toYaml .Values.container.envFrom | nindent 12 }}
          {{- end }}
          {{- if and .Values.resources (or .Values.resources.requests .Values.resources.limits) }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
