deployment:
  name: "echo-dev"
  namespace: "dev"
image:
  repository: nginx
  tag: "latest"
container:
  ports:
    - name: http
      containerPort: 80
      protocol: TCP
service:
  enabled: true
  type: ClusterIP
  port: 8080
  protocol: TCP

virtualService:
  enabled: true
  http:
    - match:
        - uri:
            prefix: /echo
      route:
        - destination:
            host: ""
            port:
              number: 8080
